.reusable-super-form {
  background-color: #ffffff;
  border: 1px solid #eaeded;
  font-family: "Amazon Ember", "Helvetica Neue", Roboto, Arial, sans-serif;
  box-shadow: rgba(0, 28, 36, 0.3) 0px 1px 1px 0px, rgba(0, 28, 36, 0.15) 1px 1px 1px 0px, rgba(0, 28, 36, 0.15) -1px 1px 1px 0px;
  box-sizing: border-box;
  border-top: 1px solid #eaeded; 
  border-top: 1px solid var(0p,#eaeded); 
  border-radius: 0;

  .reusable-super-form-content {
    background-color: #ffffff;
    padding: 0.5rem;
  }
  
  .reusable-super-form-heading {
    font-size: 1.2rem;
    text-align: left;
    background-color:#fafafa;
    border-bottom: 1px solid var(--awsui-color-border-divider-default,#eaeded);
    padding: .5rem 1.5rem;
    font-weight: 700;
  }  

  input, select {
    border: 1px solid #cccccc;
    padding: .2rem 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #aab7b8;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  input[type*="checkbox"] {
    cursor: pointer;
    align-self: center;
  }

  label {
    text-align: left;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #16191f;
    cursor: pointer;
  }

  small {
    color: #687078 !important;
    display: block;
    margin-top: 0.25rem;
    font-size: .8rem;
    font-weight: 400;
    line-height:1rem;
  }
}

.reusable-action-panel {
  padding: 1rem 0;
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}

.reusable-action-panel > *:first-child {
  margin-right: 0px !important;
}

.reusable-action-panel > * {
  margin-right: 10px;
}

.reusable-button {
  padding: 0.4rem 3rem;
  font-weight: 700;
  letter-spacing: .25px;
  display: inline-block;
  height: 30px;
  cursor: pointer;
}

.reusable-button-action-primary {
  background-image: linear-gradient(#2d8cec,#16b);
  border: 1px solid #0b4075;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: lighten(#eaeded, 0.1);
}

.reusable-button-action-primary:hover {
  background-image: linear-gradient(#16b,#0d4d8c);
}

.reusable-button-action-primary:active {
  background-image: linear-gradient(#16b,#2d8cec);
}

.reusable-button:disabled {
  text-shadow: none;
  background-color: #88b3dd;
  background-image: linear-gradient(#acc9e7,#88b3dd);
  border: 1px solid #88b3dd;
  border-top-color: #88b3dd;
}

.reusable-button-action-cancel {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.reusable-button-action-cancel:hover {background: #eee;}
